* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    line-height: $base-line-height;
    font-family: sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: $base-font-size;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    max-width: 80%;
    margin: 0 auto;;
    border: 0 none;
}

.column {
    float: left;
    width: 50%;
    border: $black-thin-border;
}
