.nav {
    display: flex;
    justify-content: space-between;
    background-color: $bar-background-color;
    border-left: $main-border;
    border-right: $main-border;
    
    li {
        display: inline-block;
        min-width: 8em;
        min-height: 4em;
        background-color: $bar-background-color;
        text-align: center;
        padding-top:5px;
    }
    
    li:hover {
        background-color: $bar-hover-color;
    }

    li a {
        color: $default-white;
    }
}
