$font-color: #444;
$font-title-color: rgb(0, 0, 0);
$font-alternative-color: rgb(255, 255, 255);
$background-color: #cee8f7;
$background-alternative-color: rgb(247, 243, 243);
$bar-background-color: #406378;
$bar-hover-color: #84CEF9;
$bar-alternative-color: #A3B8C4;
$base-line-height: 1.8;
$base-font-size: 1em;
$black-thin-border: 1px solid #222;
$main-border: 2px solid #ccc;
$default-white: rgb(255, 255, 255);
$default-black: rgb(0, 0, 0);
$spacing: $base-line-height * $base-font-size;

