{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report</h1>
    <a href="#Kmom01">Kmom01</a>
    <p>I kursen Algoritmer och datastrukturer med objektorienterad Python så arbetade jag med objektorienterad programmering och lärde mig om klasser och arv.</p> 
    <p>I PHP är en klass är en mall för objekt. Till ett objekt så finns det kopplat variabler och metoder. 
        T.ex. om man ska skapa en klasser för cyklar så kan man lägga till olika variabler såsom modell, färg etc. 
        Denna klass kan man sedan använda för att skapa objekt med information om en viss cykel. 
        Varje objekt kommer att innehålla variablerna som definieras i klassen (en modell, färg etc.) men värdet på variablerna är unikt för objektet. 
        Vad objektet kan göra beror på vilka metoder den har. Objektets "läge" definieras av objektets variabler. 
        Objektets metoder är funktioner som man kan använda för att ändra "läget" av ett objekt eller utföra en uppgift.</p> 
    <p>Jag tycker att uppdelningen mellan templates/controller är enkel och koncist. Twig templates är behändiga att använda och det känns som att det kommer att bli mindre kod att skriva i längden. Det blir också lättare att hålla ett uniformt utseende och repetera mindre kod. Överlag så här långt så tycker jag att det är en bra struktur.
        Det som jag har läst mest av i artikeln “PHP The Right Way handlar om templating och hur det fungerar. Det som jag tycker att jag har mest nytta av just nu i artikeln är delarna med templating, documenting och code style.  Artikeln är väldigt grundlig och den beskriver mycket bra hur man kommer igång inom de områden den tar upp. 
        Jag skulle vilja veta lite mer om testning och hur de olika metoder testverktygen använder skiljer sig åt i praktiken. </p>
        <p>TIL: MVC är ett av de äldsta arkitekturmönstrena.</p>

    <a href="#Kmom02">Kmom02</a>
    <a href="#Kmom03">Kmom03</a>
    <a href="#Kmom04">Kmom04</a>
    <a href="#Kmom05">Kmom05</a>
    <a href="#Kmom06">Kmom06</a>
    <a href="#Kmom07-10">Kmom07-10</a>
{% endblock %}